/qemu_vmst/GPATH
/qemu_vmst/GRTAGS
/qemu_vmst/GTAGS
*.d
*.o
/qemu_vmst/qemu-ga
/qemu_vmst/trace.c
/qemu_vmst/trace.c-timestamp
/qemu_vmst/trace.h
/qemu_vmst/trace.h-timestamp
/qemu_vmst/qemu-options.def
/qemu_vmst/i386-softmmu/qemu
/qemu_vmst/bin/de
/qemu_vmst/bin/debug_log
/qemu_vmst/bin/esp
/qemu_vmst/i386-softmmu/hmp-commands.h
/qemu_vmst/i386-softmmu/qmp-commands.h
/qemu_vmst/pc-bios/optionrom/linuxboot.bin
/qemu_vmst/pc-bios/optionrom/multiboot.bin
/qemu_vmst/qapi-generated/qga-qapi-types.c
/qemu_vmst/qapi-generated/qga-qapi-types.h
/qemu_vmst/qapi-generated/qga-qapi-visit.c
/qemu_vmst/qapi-generated/qga-qapi-visit.h
/qemu_vmst/qapi-generated/qga-qmp-commands.h
/qemu_vmst/qapi-generated/qga-qmp-marshal.c
/qemu-1.6.2/GPATH
/qemu-1.6.2/GRTAGS
/qemu-1.6.2/GTAGS
/qemu-1.6.2/build
/qemu_vmst/bin/cr3
/qemu_vmst/bin/mem
/qemu_vmst/bin/qemu
/qemu_vmst/bin/qemu-ga
